*,
*:after,
*:before { margin: 0; padding: 0; box-sizing: border-box; -webkit-tap-highlight-color: transparent; }

ol, ul { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; }

/**vue 路由特效**/
.child-view { position: absolute; width: 100%;height: 100%;  transition: .35s cubic-bezier(.55, 0, .1, 1); }
.slide-left-enter { opacity: 0; -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
.slide-right-leave-active { opacity: 1; -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
.slide-left-leave-active { opacity: 1; -webkit-transform: translate(100%, 0); transform: translate(100%, 0); }
.slide-right-enter { opacity: 0; -webkit-transform: translate(100%, 0); transform: translate(100%, 0); }
/**vue 路由特效**/

img { max-width: 100%;border: 0; vertical-align: middle; }
table, td, th { border-collapse: collapse; font-weight: normal; font-size: .14rem; }
label { margin-bottom: 0; font-weight: normal; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; outline: none !important; -webkit-appearance: none; appearance: none; border-radius: 0; }
button { overflow: visible; }
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 625%; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
section { padding-bottom: .5rem; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
em, i { font-style: normal; }

a { display: inline-block; background-color: transparent; color: #000; text-decoration: none; }
a:active, a:hover { outline: 0; }

iframe { max-width: 100% !important; }
body { font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",Tahoma,sans-serif; font-size: 0.14rem; background: #F6F7F8; color: rgb(48, 52, 64); }

/* 弹性布局 */
.in-b { display: inline-block; }
.l { float: left; }
.r { float: right; }
.pos-r { position: relative;}
.flex { display: flex; flex-direction: row; flex-wrap: nowrap; position: relative; }
.wrap-flex { display: flex; flex-direction: row; flex-wrap: wrap; position: relative; }
.flex-1 { flex: 1;}
.flex-2 { flex: 1; width: 50%; }
.flex-3 { width: 33.3%; position: relative; }
.flex-4 { width: 25%; position: relative; }
.flex-5 { width: 20%; position: relative; }

/* 居中 */
.po-center { position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto }
.ho-center { display: block; margin: 0 auto; }
.ve-center { position: relative; top: 50%; transform: translateY(-50%); }

/* 背景颜色 字体大小 */
.f16 { font-size: .16rem; }
.f18 { font-size: .18rem; }
.f12 { font-size: .12rem; }
.fw-b { font-weight: bold; }
.orange-f { color: #ed6c2b; }
.gol-f { color: #B19E74; }
.er-title { color: #9AA1B3; }
.white-f { color: #fff; }
.light-gray { color: #ccc; }
.gray-bg { background: #F6F7F8; }
.white-bg { background: #fff; }
.gol-bg { background: #B19E74; }
.orange-bg { background: #ed6c2b; }
.cor9 {color: #999;}


/* banner */
.banner { width: 100%; height: 2.11rem; background: #fff; text-align: center;}

/* 图标 */
.arrows { width: .09rem; height: 100%; background: url('../img/more.png') no-repeat center; background-size: contain; position: absolute; top: 0; right: .14rem; }
.gol-arrows { background: url('../img/gol_more.png') no-repeat center; background-size: contain; }
.black-arrows { background: url('../img/black_arrow.png') no-repeat center; background-size: contain; }

/* 清除浮动 */
.cy-clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }
/* 文本多余省略 */
.cy-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* 遮罩 */
.cy-mask { display: none; position: fixed; right: 0; bottom: 0; left: 0; top: 0; z-index: 999; background: rgba(0, 0, 0, .6); }
.cover-box { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: fixed; left: 0; z-index: 20; display: none; }

/* 卡片展示 */
.card { position: relative; width: 100%; height: auto; }
.main-card { position: relative; width: 100%; background: #fff; display: block; overflow: hidden; }
.card-img { padding: .14rem .14rem 0px; width: 100%; height: 2.1rem; text-align: center; }
.card-tit { position: relative; display: block; padding: 0px .14rem; width: 100%; height: .45rem; line-height: .45rem; background: #fff; overflow: hidden; }
.card-content { text-align: justify; color: #AAAAAA; line-height: .22rem; }
.box-sh { box-shadow: 0px 0px 4px 0px rgba(230, 230, 230, 0.5); }
.h-img { height: 2.05rem; overflow: hidden; text-align: center; }

.mb10 { margin-bottom: .1rem; }
.mt10 { margin-top: .10rem; }
.mt14 { margin-top: .14rem; }
.mt2 { margin-top: .02rem; }
.ml8 { margin-left: .08rem }
.pb10 { padding-bottom: .1rem; }
.pt45 { padding-top: .45rem; }
.pd14 { padding: .14rem; }
.pd20 { padding: 0 .2rem; }
.lh40 { line-height: .4rem; }
.lh24 { line-height: .24rem; }
.pb45 { padding-bottom: .45rem; }

/* 表单 */
.form-header { text-align: center; padding: .2rem 0 .05rem; font-size: .18rem; }
.form { width: 100%; padding: 0 .28rem; position: relative; }
.form-group { position: relative; display: flex; height: .45rem; border-radius: 4px; margin-top: .15rem; }
.code-form { width: 68%; float: left; display: flex; border-radius: 4px; }
.form-name { display: inline-block; line-height: .45rem; width: .7rem; padding-left: .1rem; text-align: left; }
.form-value { position: relative; flex: 1; overflow: hidden; line-height: .45rem; }
.form-value > input, .form-value select { width: 90%; height: 0.43rem; border: none; line-height: .43rem; text-align: left; margin-left: .12rem; }
.gol-form-group .form-value > input::-webkit-input-placeholder { color: #B19E74; }
.get-code { width: 31%; height: .45rem; float: right; text-align: center; line-height: .45rem; border-radius: 4px; margin-left: .05rem }
.form-button { width: 100%; padding: .2rem 0 .2rem; }
.submit-btn { display: block; width: 100%; height: .45rem; text-align: center; line-height: .45rem; color: #fff; border-radius: 4px; letter-spacing: 2px; }
.bor-form-group { border: 1px solid #E5E5E5; }
.gol-form-group { border: 1px solid #B19E74; color: #B19E74; }
.form-group input[type='checkbox'] { width: .2rem; height: .2rem; border: 1px solid #ccc; border-radius: 50%; position: relative; top: .12rem; }
.form-group input[type='radio'] { width: .15rem; height: .15rem; border: 1px solid #ccc; border-radius: 50%; position: relative; top: .02rem; }
.form-group input[type='checkbox']:checked, input[type='radio']:checked { background: #ED6C2B; border: none; }
.radio-value span { margin: 0 .24rem 0 .1rem; color: #999; }


/* border */
.bor-d-bottom { border-bottom: 1px dashed #f1f1f1; }
.bor-top:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 1px; background: #f1f1f1; transform: scaleY(0.5); }
.bor-bottom:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #f1f1f1; transform: scaleY(0.5); }
.bor-left:before { content: ''; position: absolute; top: 0; left: 0; width: 1px; height: 100%; background: #f1f1f1; transform: scaleX(0.5); }
.bor-right:before { content: ''; position: absolute; top: 0; right: 0; width: 1px; height: 100%; background: #f1f1f1; transform: scaleX(0.5); }


/* 底部菜单 */
.footbar { display: flex; position: fixed; bottom: 0; z-index: 999; width: 100%; min-height: 0.5rem; padding: 0.02rem 0; background: #fff; padding-top: .06rem; flex-direction: row; border-top: 1px solid #f1f1f1; box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, 1); }
.footbar a { width: 25%; display: inline-block; text-align: center; }
.footbar a i { display: inline-block; width: 0.21rem; height: 0.21rem; }
.footbar a span { display: block; font-size: .12rem; position: relative; color: #9AA1B3;}
.footbar .active span { color: #ED6C2B; }
.footbar .icon-home { background: url("../img/home.png") no-repeat center; background-size: contain; }
.footbar .icon-house { background: url("../img/building.png") no-repeat center; background-size: contain; }
.footbar .icon-custom { background: url("../img/custom_icon.png") no-repeat center; background-size: contain; }
.footbar .icon-my { background: url("../img/self_icon.png") no-repeat center; background-size: contain; }
.footbar .active .icon-home { background: url("../img/home_act.png") no-repeat center; background-size: contain; }
.footbar .active .icon-house { background: url("../img/building_act.png") no-repeat center; background-size: contain; }
.footbar .active .icon-custom { background: url("../img/custom_act_icon.png") no-repeat center; background-size: contain; }
.footbar .active .icon-my { background: url("../img/self_act_icon.png") no-repeat center; background-size: contain; }

