/*全局重置样式*/

*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}


/*淘宝重置样式*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: PingFang-SC-Medium, couriernew, courier, monospace;
}

small {
	font-size: 12px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}
a:visited {
	text-decoration: none;
	
}
sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,
img {
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**vue 路由特效**/
.child-view { position: absolute; width: 100%;height: 100%;  transition: .35s cubic-bezier(.55, 0, .1, 1); }
.slide-left-enter { opacity: 0; -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
.slide-right-leave-active { opacity: 1; -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
.slide-left-leave-active { opacity: 1; -webkit-transform: translate(100%, 0); transform: translate(100%, 0); }
.slide-right-enter { opacity: 0; -webkit-transform: translate(100%, 0); transform: translate(100%, 0); }
/**vue 路由特效**/

html {
	height: 100%;
	background: #f6f6f6;
}

body {
	height: 100%;
	overflow: hidden;
}
body
html,html{
	font-family: microsoft yahei,PingFangSC-Regular;
}
body,
#main {
	height: 100%;
	width: 100%;
	max-width: 540px;
	overflow: hidden;
}
.content{
	-webkit-overflow-scrolling: touch;
	height: 100%;
	width: 100%;
	overflow-x:hidden;
	overflow-y:auto;	
	/*padding-bottom: 0.27rem;*/
	background-color: #fff;
}
.flex {
	display: flex;
}
 .text_nowrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 .text_through{
 	text-decoration: line-through;
 }
.tab_header {
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #fff;
	z-index: 102;
	border-bottom: 1px solid #f1f1f1;
	padding: 0.345rem .32rem .345rem .265rem;
}

.headr_box {
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	height: 100%;
	display: flex;
	width: 100%;
}

#cell {
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
}

.icon_type {
	display: inline-block;
	width: .425rem;
	height: 0.385rem;
	vertical-align: middle;
}

.icon_search {
	display: inline-block;
	width: .415rem;
	height: .415rem;
	vertical-align: middle;
}

#bread-ul {
	background-color: #FFFFFF;
}

.footer_toast {
	width: 100%;
	height: 1.4rem;
	background-color: #fff;
	text-align: center;
	line-height: 1.4rem;
	font-size: 0.32rem;
	color: rgba(178, 178, 178, 1);
}

/*首页分类列表筛选*/
#slide {
	position: fixed;
	height: 100%;
	z-index: 101;
	top: 0px;
	width: 100%;
	transition: all 300ms ease-in-out;
	right: -100%;
}

.x-y {
	height: 100%;
	width: 100%;
}

.box2>.box2_h{
	margin-left: 0.865rem;
    border-bottom: 0.03rem solid #f5f5f5;
    padding: 0.2rem 0;
    font-size: 0.37rem;
    width: 4rem;
}

.slidele {
	right: 0% !important;
}

#slide-mask {
	right: -100%;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .4);
}

.slide-Price,
.slide-Salesvolume {
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 5.08rem 1px;
}

.slide-Price,
.slide-Salesvolume,
.slide-DeliveryArea {
	padding-left: .44rem;
	width: 94%;
}

.slide-DeliveryArea .sp_bom span:first-child {
	margin-left: 0rem;
}

.slide-DeliveryArea .sp_bom span {
	margin-left: 0.305rem;
}

.slide-DeliveryArea .sp_bom span:last-child {
	margin-top: 0.295rem;
	margin-left: 0rem;
}

.sp-le-txt {
	font-weight: normal;
	color: #333333;
	font-size: 0.4rem;
	margin-top: 0.325rem;
	display: inline-block;
}

.sp-ri-txt {
	font-size: 0.265rem;
	color: #666;
	margin-left: .225rem;
}

.sp_bom span {
	text-align: center;
	display: inline-block;
	width: 2.4rem;
	height: 0.735rem;
	line-height: 0.735rem;
	color: #666666;
	background-color: #F2F2F2;
	font-size: 0.285rem;
	border-radius: 0.5rem;
}

.sp_bom span:last-child {
	margin-left: 0.305rem;
}

.sp_top {
	margin-bottom: 0.265rem;
}

.sp_bom {
	padding-bottom: 0.415rem;
}

.hienmarfl {
	margin-left: 0px !important;
	margin-top: 0.259rem;
}

.borderB {
	border-bottom: 1px solid #f1f1f1;
}

.borderB2 {
	border-bottom: 1px solid #e6e6e6;
}

.spanmar_le {
	margin-left: 0.305rem;
}

.slide-index {
	height: 100%;
	position: absolute;
	z-index: 5;
	background-color: #fff;
	width: 6rem;
	top: 0px;
	right: 0px;
}

.btn_box {
	width: 100%;
	height: 1.305rem;
	position: absolute;
	bottom: 0;
	box-shadow: 0.2rem 0 1rem #eee;
}

.btn_box>div {
	text-align: center;
	line-height: 1.305rem;
	font-size: 0.4rem;
	width: 50%;
	height: 100%;
}

.restBtn {
	background-color: #fff;
	color: rgba(102, 102, 102, 1);
}

.submitBtn {
	background-color: #BA9F6E;
	color: #fff;
}

.gao {
	color: #BA9F6E !important;
	background-color: #FFF6E5 !important;
	border: 0.025rem solid #BA9F6E;
}


/*footer*/
.tabbars a i{
	display: block;  
    margin: 0 auto;
    margin-top: 0.2rem;
}
.iconSize1{
	width: 0.415rem;
	height: 0.425rem;
}
.iconSize2{
	width: 0.535rem;
	height: 0.4rem;
}
.iconSize3{
	width: 0.4rem;
	height: 0.415rem;
}
.iconSize4{
	width: 0.455rem;
	height: 0.455rem;
}
.iconSize5{
	width: 0.415rem;
	height: 0.465rem;
}
/*底部导航图标未激活类*/
.icon_f1{
	background: url(../imgs/vote_@2x.png) no-repeat center;
	background-size: contain;
}
.icon_f2{
	background: url(../imgs/school_@2x.png) no-repeat center;
	background-size: contain;
}
.icon_f3{
	background: url(../imgs/home_@2x.png) no-repeat center;
	background-size: contain;
}
.icon_f4{
	background: url(../imgs/shopping_@2x.png) no-repeat center;
	background-size: contain;
}
.icon_f5{
	background: url(../imgs/my_@2x.png) no-repeat center;
	background-size: contain;
}

/*底部导航图标激活类*/
.icon_f1_active{
	background: url(../imgs/act_vote_@2x.png) no-repeat center;
	background-size: contain;
}
.icon_f2_active{
	background: url(../imgs/act_school_@2x.png) no-repeat center;
	background-size: contain;
}
.icon_f3_active{
	background: url(../imgs/act_home_@2x.png) no-repeat center;
	background-size: contain;
}
.icon_f4_active{
	background: url(../imgs/act_shopping_@2x.png) no-repeat center;
	background-size: contain;
}
.icon_f5_active{
	background: url(../imgs/act_my_@2x.png) no-repeat center;
	background-size: contain;
}
.m-tabbar {
	position: absolute;
	bottom: 0;
	line-height: inherit!important;
	width: 100%;
	height: 1.305rem;
	background: rgba(255, 255, 255, 1);	
	z-index: 100;
}

.m-tabbar .tabbars {
	display: flex;
	position: absolute;
	z-index: 500;
	bottom: 0;
	width: 100%;
}

.m-tabbar .chose_a {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding: 0;
	font-size: 0;
	color: rgba(51, 51, 51, 1);	
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.m-tabbar .footer_p {
	text-align: center;
	margin-top: .1075rem;
	font-size: 0.265rem;
	line-height: 0.56rem;
}
/*底部导航文字激活类*/
.m-tabbar .footer_active {
	color: #BA9F6E !important;
}


/*顶部导航-分类*/
/*工具类*/
.br-cen li {
	list-style: none;
	float: left;
	font-size: 0.259rem;	
	color: rgba(102, 102, 102, 1);
	position: relative;
	width: 24.5%;
	text-align: center;
}

.br-cen>li:first-child {
	margin-left: 1.2%;
}

.br-cen2 li {
	width: 19.5%;
}

.br-cen,
.br-cen2 {
	width: 100%;
}

.br-cen .activecolor,
.br-cen2 .activecolor,
 .cell_ul .activecolor
 {
	color: #BA9F6E !important;
}

.br-cen .activeafter:after {
	content: "";
	width: 1.065rem;
	height: 0.055rem;
	background: url(../imgs/huakuai_@2x.png);
	position: absolute;
	display: block;
	bottom: -0.243rem;
}

.br-cen .activeafter:after {
	left: 25%;
}

.br-cen2 .activeafter:after {
	left: 17%;
}

/*详情页_购物车sku---样式开始*/
#Mask {
    top: 100%;
    position: fixed;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
    z-index: 101;
	transition: 300ms ease-in-out ;
}
/*显示sku类*/
.show_mask{
    top: 0 !important;	
}
#Mask_content {
	height: 100%;
	width: 10rem;
	position: relative;
}

.Ma_c_top {
	width: 10rem;
	background-color: #FFFFFF;
	padding: 0px 0.32rem;
}

.Ma_c_bom {
	height: 1.31rem;
	width: 10rem;
	background-color: #B89557;
}

.Mask-cover {
	position: absolute;
	bottom: 0px;
}

.Ma_c_bom>button {
	background-color: #B89557;
	width: 100%;
	bottom: 0px;
	height: 100%;
	border: none;
	outline: none;
	font-size: 0.4rem;
	color: rgba(255, 255, 255, 1);
}

.Ma_c_title {
	position: relative;
	height: 2rem;
	border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.Ma_c_title3 {
    padding: 0.3rem 0.45rem;
}

.M_c_title_main {
	position: absolute;
	padding-left: 0.16rem;
	width: 10rem;
	height: 2.4rem;
	bottom: 0.45rem;
}

.M_c_title_main>div:first-child {
	height: 2.4rem;
	width: 2.4rem;
	float: left;
}

.M_c_title_main>div:first-child>img {
	height: 100%;
	width: 100%;
}

.M_c_title_bom {
	margin-left: 2.85rem;
	color: #333333;
}

.M_c_title_bom>div {
	padding-top: 0.24rem;
	display: inline-block;
}
.M_c_title_bom>div>.stock{
	color: #999
}
.bom_p1 {
	font-size: 0.32rem;
}

.bom_p2 .moery {
	font-size: 0.43rem;
}

.bom_p2 {
	font-size: 0.32rem;
	margin-top: 0.11rem;
}

.close {
	width: 0.4rem;
	height: 0.4rem;
	background: url(../imgs/close@2x.png);
	background-size: contain;
	float: right;
	margin-top: 0.35rem;
	margin-right: 0.24rem;
}

.Ma_c_title3 .chocolates{
    margin-bottom: 0.2rem;
}

.Ma_c_title3 .chocolates>p{
    width: 1.6rem;
    height: 0.23rem;
    font-size: 0.37rem;
    color: rgba(51, 51, 51, 1);
    line-height: 0.23rem;
    margin-bottom: 0.3rem;
}

.Ma_c_top .chose_number{
    padding: 0.3rem 0.45rem 0.5rem 0.45rem;	
    border-top: 0.03rem solid #f5f5f5;
}

.Ma_c_top .chose_number .chose_number_box{
	align-items: center;
	justify-content: space-between;
    font-size: 0.37rem;
    height:0.68rem;
    
}
/*商品详情数量加减*/
.chose_number .p3-rig {
	float: right;
}

.chose_number .num {
	margin: 0px 0.27rem;
	text-align: center;
	width: 1rem;
    height: 0.55rem;
	border: none;
	background-color: #f6f6f6;
}

.chose_number .del .deleicon{
    width: 0.48rem;
    height: 0.48rem;
	vertical-align: middle;
	display: inline-block;
}
.chose_number .deleicon{
	background: url(../imgs/delicon@2x.png) no-repeat center;
	background-size: contain;	
}
.chose_number .active_deleicon{
	background: url(../imgs/delicon_shen@2x.png) no-repeat center;
	background-size: contain;	
}
.chose_number .addicon{
	height: .48rem;
    width: .48rem;
	vertical-align: middle;
	display: inline-block;
}
.chose_number .addicon{
	background: url(../imgs/addicon@2x.png) no-repeat center;
	background-size: contain;	
}


.chocolates_ul li {
	width: 2.13rem;
	height: 0.8rem;
	line-height: 0.8rem;
	border-radius: 0.05rem;
	float: left;
	text-align: center;
	background: rgba(238, 238, 238, 1);
	margin-right: 0.53rem;
	color: rgba(187, 187, 187, 1);
	margin-bottom: 0.27rem;
}

.chocolates_ul .activecss {
	background-color: #F9E4BB;
	color: rgba(184, 149, 87, 1);
}

.chocolates_ul {
	overflow: hidden;
}
/*详情页_购物车sku---样式结束*/

/*vux框架重置样式*/

/*商品详情--商城首页  轮播指示器重置*/
.vux-slider > .vux-indicator > a > .vux-icon-dot.active,
.vux-slider .vux-indicator-right > a > .vux-icon-dot.active{
 	background-color: #bfa679 !important;
 	width: 15px !important;
 	height: 5px !important;
 	border-radius:5px !important;
 }

 .vux-icon-dot{
 	width: 10px !important;
 	height: 5px !important;
 }
.vux-slider > .vux-indicator > a > .vux-icon-dot,
.vux-slider .vux-indicator-right > a > .vux-icon-dot{
 	width: 0.27rem !important;
 	height: 0.11rem !important;
}
.banners_box > .vux-indicator,#banners_detail .vux-indicator-right{
	bottom: 18px !important;
}

/*课程详情轮播指示器样式重置*/
#courseD_banner .vux-indicator-center .vux-icon-dot{
	width: 0.69rem !important;
 	height: 0.05rem !important;
 	background-color: #aaa !important;
 	
}
#courseD_banner .vux-indicator-center{
	z-index: 12 !important;
    display: flex;
    justify-content: center;
    left: -50%;
    width:100%;
    
}

#courseD_banner.vux-slider > .vux-indicator > a > .vux-icon-dot.active,
#courseD_banner.vux-slider .vux-indicator-right > a > .vux-icon-dot.active{
 	background-color: #fff !important; 		
 }


.picker_sex .weui-cells:before{
	display: none !important;
}
.picker_sex .vux-no-group-title{
	margin-top: 0 !important;
}
.picker_sex .weui-cells{
	font-size: 0.4rem;
}
/*收货地址next小图标*/
.picker_sex .weui-cell_access .weui-cell__ft:after,
.editorAddres_h_box .weui-cell_access .weui-cell__ft:after,
{
	height: 8.9px !important;
    width: 8.9px !important;
    border-width: 1.49px 1.49px 0 0 !important;
    border-color: #898989 !important;   
}
.picker_sex .weui-cell{
	padding: 0.37rem 0 !important;
}

.myAccount_ul>li .weui-cell__ft{
	display: none !important;
}

.vux-confirm .vux-prompt>input{
	text-align: center !important; 
	color: #333333;
	border: 1px solid #eae4d9 !important;
}
.weui-dialog__btn.weui-dialog__btn_default{
	color: #FFFFFF !important;
    background-color: #d8d8d8 !important;
    border-bottom-left-radius: 0.1rem;
    
}
.vux-confirm .weui-dialog__ft{
	margin-top: 0.01rem;
}
.vux-confirm .weui-dialog__btn.weui-dialog__btn_primary{
	color: #FFFFFF !important;
	background-color: #ba9f6e;
	border-bottom-right-radius: 0.1rem;
}
