/* loupan */
.icon {display: inline-block; width: .2rem; height: .2rem; }
.fixed {position: fixed; top: 0; left: 0; width: 100%; z-index: 99;}
.box-shw { box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);}

.h-site {height: .45rem; line-height: .45rem; padding-left: .13rem;color: #FF9800; position: relative;}
.site-icon {background: url('../img/site.png') no-repeat center;background-size: contain;position: relative; top: .05rem;}
.h-list {display: block;height: 1.13rem;width: 100%; position: relative; overflow: hidden;}
.smart-sec .h-list { height: 1.3rem;}
.t-img {width: 2rem; height: 1.13rem;}
.smart-img { width: 1.3rem; height: 1.3rem;}
.t-info {margin-left: .2rem; max-width: 1.9rem;line-height: .2rem;}
.t-info p { margin: .05rem 0;}
.brown-f { color: #999;}

.h-type-b {height: 3.75rem;text-align: center;}
.h-type-b img {max-height: 100%;}
.de-style {height: .45rem; line-height: .45rem; text-align: center;}
.tab-item {color: #B19E74; position: relative;}
.act-item {border-bottom: 2px solid #B19E74;}
.act-gol-item { background: #B19E74; color: #fff;}
.tab-head {height: .45rem; line-height: .5rem; padding-left: .3rem;}
table {width: 100%;}
table tr {height: .45rem; line-height: .45rem;border-bottom: 1px solid #F6F7F8;}
table tr td {padding-left: .3rem; position: relative;}
table tr td:first-of-type {width: 1.5rem;border-right: 1px solid #F6F7F8;}
.start-icon {background: url('../img/star.png') no-repeat center;background-size: contain;position: relative; top: .04rem; margin-right: .05rem;}
.tips {height: .65rem; line-height: .65rem; padding-left: .3rem;}

.part-content {width: 100%; height: 2.11rem; text-align: center; position: relative; padding: .05rem 0;}
.part-content img { max-height: 100%;}
.part-tag {width: .84rem; height: .3rem; background: #B19E74; text-align: center; line-height: .3rem; color: #fff; position: absolute; left: 0; bottom: 0;}
.part-f { padding: .14rem; line-height: .2rem; font-size: .13rem;}
.part-f p {margin: .05rem 0;}
.part-more {left: auto; right: .14rem;top: 50%; width: .6rem; height: .26rem;line-height: .26rem; border-radius: 5px;margin-top: -.13rem;}

.filter-container {z-index: 30; position: fixed; top: 0; left: 0; width: 100%;}
.case-tab {width: 100%;height: .45rem; line-height: .45rem; text-align: center; border-bottom: 1px solid #f1f1f1;}
.filter-hide {padding: 0 0 .2rem;}
.hide-item {width: .98rem; height: .36rem; line-height: .36rem; text-align: center; color: #B19E74;border: 1px solid #B19E74; border-radius: 5px; margin-left: .2rem; margin-top: .2rem;}
.act-case::before {content: ''; position: absolute; width: 100%; height: 2px; background: #B19E74; left: 0; top: 100%;}

.swiper-slide-info { position: absolute; bottom: 0px; left: 0; padding: .14rem .4rem .14rem .14rem; width: 100%;color: #fff; line-height: .2rem; background: rgba(0,0,0,0.4); font-size: .13rem;}
.photo-show .swiper-container {width: 100%;}
.photo-show .swiper-container-horizontal>.swiper-pagination-fraction { bottom: 0px; left: auto;right: 0px;}
.photo-show .swiper-pagination { width: .4rem; height: .3rem; line-height: .3rem; color: #fff;}

.to-up {height: .45rem; width: 100%; border-bottom: 1px solid #f1f1f1; text-align: center;padding-top: .13rem;}
.up-arrow {background: url('../img/up_arrow.png') no-repeat center;background-size: contain;}
.de-name { height: .58rem; padding: 0 .14rem; position: relative;}
.de-name h2{ text-align: center; line-height: .58rem; border-bottom: 1px solid #dfd7c7;}
.de-p {padding:.14rem; line-height: .2rem; position: relative;}
.de-idea .submit-btn { line-height: .45rem; margin: .12rem 0;}
.part-swiper { padding: .14rem 0 0 .14rem;}
.part-swiper .swiper-slide {width: 1.4rem; margin: 0 .1rem; text-align: center;}
.slide-box {width: 1.4rem; height: 1.4rem; text-align: center;}
.part-swiper .swiper-slide p { line-height: .5rem;}
.swiper-cap::after {content: '家庭收纳'; position: absolute; left: 0; top: 0;width: .2rem; height: 1.4rem; background:#B19E74; color: #fff; line-height: .2rem; text-align: center;padding: .28rem 0 0;}
.soft-cap::after {content: '现代轻奢';}
.smart-cap::after {content: '智能安防';}

.base-bao { text-align: center;}

.my-header {height: 1.6rem; width: 100%; background: #ED6C2B; padding-top: .3rem;}
.my-logo { width: .7rem; height: .7rem; border-radius: 50%; margin: 0 auto .1rem;}
.my-logo img {border-radius: 50%;}
.my-tel {text-align: center; line-height: .24rem; color: #fff;}
.r-icon { width: .8rem; position: relative; }
.my-icon {width: .26rem; height: .26rem; margin-right: .14rem; position: relative;top: .08rem;}
.broker-icon { background: url('../img/broker.png') no-repeat center;background-size: contain;}
.money-icon { background: url('../img/my_icon.png') no-repeat center;background-size: contain; }
.reco-icon { background: url('../img/reco_icon.png') no-repeat center;background-size: contain; }
.invite-icon { background: url('../img/invite_icon.png') no-repeat center;background-size: contain; }

.my-money { height: 1.4rem;}
.total {text-align: center; font-size: .36rem; color: #fff; padding: .1rem 0 0;}
.grid-two {height: .61rem; border-top: 1px solid #fff;}
.white-bor-r { border-right: 1px solid #fff; }
.grid-item { background: #FB7E3F; display: inline-block; text-align: center; line-height: .22rem; color: #fff; padding: .1rem 0 0;}
.white-arrows { background: url('../img/white_more.png') no-repeat center;background-size: contain; }
.my-tab-item { text-align: center; line-height: .45rem; position: relative;}
.my-act {color: #ED6C2B;}
.my-act:after { content:''; width: 100%; height: 2px; background: #ED6C2B; position: absolute; bottom: 0; left: 0;}
.earning-list { padding: 0 .35rem 0 .14rem; }
.earning-item {display: block;height: .6rem; border-bottom: 1px solid #F6F7F8;line-height: .22rem; padding: .12rem 0 0;}
.earning-item .fw-b {line-height: .35rem;}
.m-total {position: fixed; bottom: 0; left: 0; width: 100%; height: .4rem; line-height: .4rem; color: #fff; background: #ED6C2B; padding: 0 .35rem 0 .14rem}

.rule {width: 100%;padding: .25rem .17rem .05rem; line-height: .21rem; background: #fff; clear: both;}
.rule p {padding: .03rem 0;}
.rule-foot { padding: .1rem .17rem 0; height: .7rem; line-height: .22rem;}

.apply-form { padding: .14rem; }
.apply-item { height: .6rem; line-height: .6rem; padding: 0 .14rem;}
.apply-item p{ height: 100%; border-bottom: 1px solid #F6F7F8;}
.blue-f { color: #86b84b;}
.ti-amount { height: .62rem; line-height: .62rem; border-bottom: 1px solid #F6F7F8;}
.ti-amount span { font-size: .3rem;}
.ti-amount input { background: #fff; border: none; width: 2rem; margin-left: .2rem; height: .6rem;}
.apply-tip { text-align: right; padding: .3rem .12rem 0 0;}
.form-mask {display: none;position: fixed; right: 0; bottom: 0; left: 0; top : 0; z-index : 999;background: #fff; padding-top: .5rem;letter-spacing: 1px;}
.success-tip {display: none; width: 3.19rem; height: 1.8rem; border-radius: 5px; color: #fff; line-height: 1.8rem; text-align: center; font-size: .18rem;}
.succ-icon { background: url('../img/succ_icon.png') no-repeat center;background-size: contain;margin-right: .07rem; position: relative;top: .04rem; }
.reg-tip { padding: .15rem .2rem; line-height: .21rem; font-size: .13rem;}
.reg-form { padding: 0;}
.group-title { line-height: .45rem; border-bottom: 1px solid #F6F7F8;}
.group-info .form-group {margin-top: 0; border-bottom: 1px solid #F6F7F8;}
.group-info .form-name {padding-left: 0; width: 1.1rem; line-height: .44rem;}
.agree { margin-left: .12rem; line-height: .45rem;}
.agree a { display: inline; }
.t-r { text-align: right;}
.fished {color: #78B036;}

.client-info {padding: .1rem .14rem 0;}
.client-group { border: 1px solid #e5e5e5; border-radius: 5px}
.client-group .form-group {margin-top: 0;}
.client-group .form-name {padding-left: 0; width: 1rem; color: #bbb;}
.step-item { display: flex; padding: .11rem .1rem .08rem; min-height: .6rem; position: relative;}
.step-count {float: left;display: inline-block; position: relative;width: .22rem; height: .22rem; border-radius: 50%; border: 1px solid #ED6C2B; color: #ED6C2B; text-align: center; line-height: .22rem;}
.acting-step .step-count { background: #ED6C2B; color: #fff;}
.act-step .step-count:before { content: ''; width: 1px; height: .4rem; background: #ED6C2B;position: absolute; top:100%; left: 50%;}
.step-info { float: left; margin-left: .16rem; line-height: .21rem;}
.step-item .check {position: absolute; right: 0;width: .35rem;line-height: .23rem; color: #8BC34A;}

.my-code { padding: 1rem 0 0; text-align: center;}
.logo { padding: .6rem 0 .4rem; text-align: center;}
.logo img { max-height: .65rem;}
.find-psd { text-align: right; padding-right: .2rem; border-right: 1px solid #ed6c2b;}
.reg { padding-left: .2rem;}


